In [30]:
n1 = int(input("Enter the first number: "))
n2 = int(input("Enter the second number: "))


if n1 > n2:
    Greater = n1
else:
    Greater = n2

    
while True:
    if Greater% n1 == 0 and Greater%n2 == 0:
        LCM = Greater
        break
    Greater = Greater + 1
print("The LCM of ", n1, " and ", n2, " is ", LCM)

Enter the first number: 6
Enter the second number: 23
The LCM of  6  and  23  is  138

In [31]:
n1 = int(input("Enter the first number: "))
n2 = int(input("Enter the second number: "))


if n1 < n2:
    Lesser = n1
else:
    Lesser = n2

    
while True:
    if n1% Lesser == 0 and n2%Lesser == 0:
        HCF = Lesser
        break
    Lesser = Lesser - 1
print("The HCF of ", n1, " and ", n2, " is ", HCF)

Enter the first number: 6
Enter the second number: 23
The HCF of  6  and  23  is  1

In [32]:
i = int(input("Enter an integer in decimal system: "))

print()
b = bin(i)
o = oct(i)
h = hex(i)

print("The decimal value of", i, "is: ", b[2::], " in Binary system")
print("The decimal value of", i, "is: ", o[2::], " in Octal system")
print("The decimal value of", i, "is: ", h[2::], " in Hexadecimal system")

Enter an integer in decimal system: 23

The decimal value of 23 is:  10111  in Binary system
The decimal value of 23 is:  27  in Octal system
The decimal value of 23 is:  17  in Hexadecimal system

In [33]:
Character = input("Enter the character for which you want ASCII value: ")    
    
print ("The ASCII value of '" + Character + "' is", ord(Character))

Enter the character for which you want ASCII value: 6
The ASCII value of '6' is 54

In [34]:
def Addition(x, y):
    return x + y

def Subtraction(x, y):
    return x - y


def Multiplication(x, y):
    return x * y

def Division(x, y):
    return x / y


print("Select the type of operation you want to perform with the help of the calcualtor from the options given below:")
print("1.  Addition")
print("2.  Subtraction")
print("3.  Multiplication")
print("4.  Division")

while True:
    Operation_Type = input("Enter the type of operation(1 or 2 or 3 or 4): ")

    if Operation_Type in ('1', '2', '3', '4'):
        n1 = float(input("Enter the first number: "))
        n2 = float(input("Enter the second number: "))

        if Operation_Type == '1':
            print(n1, "+", n2, "=", Addition(n1, n2))

        elif Operation_Type == '2':
            print(n1, "-", n2, "=", Subtraction(n1, n2))

        elif Operation_Type == '3':
            print(n1, "*", n2, "=", Multiplication(n1, n2))

        elif Operation_Type == '4':
            print(n1, "/", n2, "=", Division(n1, n2))
        

        Next_Calculation = input("Do you want to perform next calculation? (yes or no): ")
        if Next_Calculation == "no":
            print("Have a nice day!    SEE YOU AGAIN SOON")
            break
    
    else:
        print("Enter a valid operation type")

Select the type of operation you want to perform with the help of the calcualtor from the options given below:
1.  Addition
2.  Subtraction
3.  Multiplication
4.  Division
Enter the type of operation(1 or 2 or 3 or 4): 1
Enter the first number: 6
Enter the second number: 6
6.0 + 6.0 = 12.0
Do you want to perform next calculation? (yes or no): y
Enter the type of operation(1 or 2 or 3 or 4): 2
Enter the first number: 6
Enter the second number: 6
6.0 - 6.0 = 0.0
Do you want to perform next calculation? (yes or no): y
Enter the type of operation(1 or 2 or 3 or 4): 6
Enter a valid operation type
Enter the type of operation(1 or 2 or 3 or 4): 6
Enter a valid operation type
Enter the type of operation(1 or 2 or 3 or 4): y
Enter a valid operation type
Enter the type of operation(1 or 2 or 3 or 4): 3
Enter the first number: 6
Enter the second number: 6
6.0 * 6.0 = 36.0
Do you want to perform next calculation? (yes or no): y
Enter the type of operation(1 or 2 or 3 or 4): 4
Enter the first number: 6
Enter the second number: 6
6.0 / 6.0 = 1.0
Do you want to perform next calculation? (yes or no): n
Enter the type of operation(1 or 2 or 3 or 4): 1
Enter the first number: 1
Enter the second number:

ValueError: ignored